In [1]:
import pandas as pd
import numpy as np

In [4]:
df = pd.read_excel(r"D:\Professional World\Research_007\ID\ID_ABMH_Data\Data_Analysis\Patient9.xlsx", sheet_name='6MV_ACR2', skiprows=3, skipfooter=3 )

In [5]:
df

      Structure Name    Dose  Volume  Unnamed: 3
0            Bladder     0.0   0.000         NaN
1            Bladder  1937.5   0.000         NaN
2            Bladder  1938.5   0.000         NaN
3            Bladder  1939.5   0.000         NaN
4            Bladder  1941.5   0.000         NaN
...              ...     ...     ...         ...
19218         Rectum  5018.5   0.000         NaN
19219         Rectum  5019.5   0.001         NaN
19220         Rectum  5020.5   0.000         NaN
19221         Rectum  5341.5   0.000         NaN
19222         Rectum  5342.0   0.000         NaN

[19223 rows x 4 columns]

In [6]:
df.columns

Index(['Structure Name', 'Dose', 'Volume', 'Unnamed: 3'], dtype='object')

In [7]:
df['ID']= df['Dose'] * df['Volume']

In [8]:
df_all=df.groupby('Structure Name')['ID'].sum()

In [9]:
df_all

Structure Name
Bladder                332530.0075
CTV_50_25              497430.4470
PTV-BLADDER            316639.1645
PTV-RECTUM             338107.0200
Rectum                 352625.4420
patient(Unsp.Tiss.)     78619.2525
Name: ID, dtype: float64

In [10]:
df_all=df_all/100

In [11]:
df_all

Structure Name
Bladder                3325.300075
CTV_50_25              4974.304470
PTV-BLADDER            3166.391645
PTV-RECTUM             3381.070200
Rectum                 3526.254420
patient(Unsp.Tiss.)     786.192525
Name: ID, dtype: float64

In [157]:
df_all = df_all.reset_index()
writer = pd.ExcelWriter(r"D:\Professional World\Research_007\ID\ID_ABMH_Data\Data_Analysis\Patient9.xlsx", engine = 'openpyxl', mode='a')
df_all.to_excel(writer, sheet_name = '6MV_ACR2_NW2', index=None)
writer.close()